@model game_cell.Models.GAME

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GAME</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GAMEName" class="control-label"></label>
                <input asp-for="GAMEName" class="form-control" />
                <span asp-validation-for="GAMEName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformsId" class="control-label"></label>
                <select asp-for="PlatformsId" class ="form-control" asp-items="ViewBag.PlatformsId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
